/* Start Form Styling*/

html, body, ul, li, h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
}

body {
    /*background-color: rgb(238, 238, 238);*/
}

.form {
    display: grid;
    grid-row-start: 1;
    grid-row: span auto;
    grid-column-start: 3;
    grid-column: span 2/4;
    /*grid-auto-rows: min-content;*/
    /*grid-auto-rows: min-content max-content auto;*/
    padding: 10px 15px;
    /*background: rgba(230, 230, 230, 0.6);*/
    background: rgba(196, 175, 134, 0.2);
    min-height: 65vh;
    /*min-height: 10%;*/
    /*height: 60vh;*/
}

.formTitle {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    max-height: 40px;
    display: block;
    width: 70%;
    color: #78788c;
    border-bottom: 3px solid #78788c;
}

input {
    width: 100%;
    padding-bottom: 5px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

input:focus {
    border-bottom: 2px solid #78788c;
    /*border-bottom: 2px solid #9c27b0;*/
}

input::placeholder {
    color: rgba(0, 0, 0, 0.3);
    padding-left: 5px;
}

label {
    font-size: 14px;
    display: block;
    text-indent: -15px;
    /*padding: 0 0 10px 0px;*/
}

input[name=active] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

textarea {
    width: 100%;
}
.form p {
    height: 40px;
    /*margin: 5px 0;*/
    margin: 0;
    padding: 0;
}

p:before {
    content: attr(type);
    display: inline-block;
    /*margin: 15px 0 0 0;*/
    font-size: 14px;
    color: #5a5a5a;
}

select, option {
    background: none;
}

button {
    /*position: relative;*/
    /*left: 203px;*/
    padding: 3px;
    /*margin: 8px 0;*/
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
}

button:hover {
    background: #78788c;
    color: #fff;
}


.login {
    /*border-radius: 5px;
    box-shadow: 0 12px 20px -10px rgba(196, 175, 134, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(196, 175, 134, 0.28);*/
    width: 350px;
    margin: 30px auto;
    min-height: 200px;
}

/* End Form Styling*/
